EDoctorsApp/EDoctors/app/google-services.json
EDoctorsApp/EDoctors/.idea
Rest-Api/.vscode/settings.json
EDoctorsApp/Edoctors_doctors/.idea/vcs.xml
EDoctorsApp/Edoctors_doctors/.idea/modules.xml
EDoctorsApp/Edoctors_doctors/.idea/misc.xml
EDoctorsApp/Edoctors_doctors/.idea/gradle.xml
EDoctorsApp/Edoctors_doctors/.idea/Edoctors_doctors.iml
EDoctorsApp/Edoctors_doctors/.idea/compiler.xml
EDoctorsApp/Edoctors_doctors/.gradle/vcs-1/gc.properties
EDoctorsApp/Edoctors_doctors/.gradle/checksums/checksums.lock
EDoctorsApp/Edoctors_doctors/.gradle/buildOutputCleanup/cache.properties
EDoctorsApp/Edoctors_doctors/.gradle/buildOutputCleanup/buildOutputCleanup.lock
EDoctorsApp/Edoctors_doctors/.gradle/7.0.2/gc.properties
EDoctorsApp/Edoctors_doctors/.gradle/7.0.2/fileHashes/fileHashes.lock
EDoctorsApp/Edoctors_doctors/.gradle/7.0.2/fileHashes/fileHashes.bin
EDoctorsApp/Edoctors_doctors/.gradle/7.0.2/fileChanges/last-build.bin
EDoctorsApp/Edoctors_doctors/.gradle/7.0.2/dependencies-accessors/gc.properties
EDoctorsApp/Edoctors_doctors/.gradle/7.0.2/dependencies-accessors/dependencies-accessors.lock
EDoctorsApp/EDoctors/.idea/gradle.xml
EDoctorsApp/EDoctors/.idea/misc.xml
*.lock
*.bin
*.jar
*.json
*.dex
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/+aIU5vO7nfXBPgR3bdTeGGk6ICY=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/+W4QuWrow10dPtWHj5_Eh65uJEE=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/002r73w8_nrD4jckCk8zIz731+o=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/0Bex3RTvXjEioKf6O5hSDUsOSEw=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/0IN1ZVSbHZ1FdgW2PDrkbJLEBZE=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/0r8Bb7P0MTIDYTK_31SeOVjItik=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/1aNbWIMIKikSuk8ov3+M5UY6G30=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/1L82jbeyBzTNtJOgs2uFsLSmC5E=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/2bet4dpcPJP8a58aOtNql_YObX0=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/3R3wTtOobwAoTIWjwOMt_woWicE=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/3y1cYWlrBENLrg2N5HGSEVOMYTc=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/3ZPn+OmMWJYGWQ4miyiGbYTuljI=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/4t5LnUPlm+QblKpJGhNYnZPlHHM=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/5GtzvOCPFOgyYHP4NztGiSlH+YI=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/5JW2cPKKqCSpVu81v11Epf1hO+Q=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/68aAO6YFSEWMdUcjWS2iTvf2Vdk=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/6C_D8o1ZCO_Zqanyc4np+J7uO_g=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/7XnrEjEmwlCvoLqjfn08WyX6BGY=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/82LB1tjtAxY40dAOggi1EXTkrsA=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/86R7mIr_ymiUKAxADJtYobeMUY4=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/8weo2TAWKTo+KeYgK4qLi9WOnCs=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/93l5L36gjNdfimFtwYwedO6JGRo=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/_z+N5rZ3G5FlLYYpr3E22E4Fnao=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ab8mTdp3UTWLowexO9lGZGwZyPw=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/AlhSFZSZ306qls6q+JJWhRuUEi8=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/apPXrONPMQwWUKcvDQQ1yrol7RM=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/AT2Og20yBYjBIoZkeobUKL6Bcv4=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/aXNZeckcPwXXj4suGg98b5UhvUA=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/aynafj1TPO4wR2Q9JwdUEOPBwbk=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/azhMuOmcC5i7tSbvBvVxzjqhBgw=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/b0yLdHZ759dThYVFM4ghzDPYghs=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/B31+_wUEZHm12mNvtY8R8SkHYSw=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/BF3jF84ePnJcJ5TtqEeGk6lhYL4=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/BpHVPe2NCnm6x18mDHN01QZ0OZQ=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/bPTvF_XSdL_8Rqqs4kuNbolXTOg=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/bQJ0n_P4edr6sQtijLpACoSjj_E=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/BW6VYVYHzLsC+m_4iHaU_KsAL4g=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/c4sVSl1nYwA3bVWbGec2WipQ7v0=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/CVR2ZjuSl5HXSvp3GDBA5C8BFvo=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/cWi_wL2I9q58Sf7C6VLfTdA7Cnk=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/cWN7aj3f9koONC08MshxrOvLWdo=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/cziKSfsCZJiKhJ+NGOkmORE+tC4=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/dyTeSR9yw1OVwLlXQ_WsDxYsGbo=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/E1+tsHNLXeVjUiGkwM2rpjDDH+Y=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/e8cLXTlrbaecnEM3xkU_uUbyM_Y=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/EGAxBnJMguASZVl1Z3Dl44YH3Ts=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/EvmFZ6UW_mcflgLefXVCITpFFqw=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/FAI9eD+RbDSZp5i49P6NFiRMyyk=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/fnSiYAxNRsjU8BnPtpI3gXLEy24=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/g75xkcxWixy1pdslYfFcr9Bu3rg=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/GFD5kybRrHLK23oFGK0rzr6XxsY=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/gW8gPgRSf97qDnYZTUifa6tD0fo=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/H+Yrnx7dqaOCRb1Ytlt5CQaJVOc=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hA+yG4rgLMDJTCA6rMTuggCive8=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hCAxDDVbrHerrDUCbZNfC1Xz_WY=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/HIIQCqVgFqt4T0rRwI21nmKxscg=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hkVRETQ0Pza_dyDryt69OmjSTSo=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/iaeGwSgQ6Bq3nZ60rPNE38qW8l4=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/IieH2op2zDDTi4J+dhdnsH+qOPs=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/IqASfDfh5spdzqcSypM9+oNKk5M=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/IRBbBpq_UldE8xA3SYV_sHIffPc=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/j92bpGqm7xVW25BWDf7cMmOESqs=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JqqWT+6Tfwg4oJXPh_FgLP11LP4=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/K3EkmmNUZFOCGaIn6sxqF5uWJ48=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/kDrCkWA0hGig8Jyw4uQ2G+8jpec=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Kn6WzObDDVC0emyQHPXVlN0sdDU=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/kqfe8cQFV7ytOrzuwFYxqhM3Dqg=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/kqi6QY_1wctWstliAQvBsm2gBok=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/KTfZ+1+N1eWffKMnBInoYn0crr8=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/lB70DTtKwbqPo0Hw_LD11AwQugw=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/lnAZL3BK3lgeFBZnE9XjxSe3RuI=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/LPQmPUCmvrmas+9yT0CLUleBfj4=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/m6imMDiaUAovoVLuchkfHQtrZLY=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/m_Wm3usPiDwlUIya70ddkherGS4=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/mmTAgvvVE2WfeiVgLIZpk58Ga40=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/mMtL5bv7Q53poHlPhZ5rPd7uej8=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/mPVSmD_nw+en2eI0uMTUfec+EzA=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/MREY6AqNGXi1cF39O9TkXMJvIWE=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/n8gtstLX7XtscTumzELIYRFa2M0=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/nMN+KOxCyIqdwvAjEO29MRmjHnU=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/NXkjLtfPGso0oDR7nHTuNjfpUt0=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/o_N2h6D67AOkOJuerW3NVgPUIQ8=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/oAvLB6M7+a_RqS2WIc28XNDWBp4=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Oxmz3GUs73w58TJqj+j8Zxn97aA=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ozejFu50L3ctxZi4ZpEjZI7xTPs=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/OZPxo8v2or9cwsorcbIzlW+hl28=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/PIkxDTbC69VqD+LuQOtzhMNPwHs=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/QAa280L1vqu6RsuHTIBQxsmhKOg=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qAbIgL2s1M+u5x1gtLjblpIFoE4=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/QRE+of+vqKFtwKYAS284L0EmxhQ=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qUzxlRla7Pcaaj8TUuv1Cm_uTwU=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/RW1iiKnpMveoukmM1HH7NZ18eEw=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/sJDpfKZ7_bzId7vVukFbKmnXU6I=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/StLgeE3Vkxw4BoRgCLzhiZ9dST8=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/SYeA36RrAmgUYxi2NgYQ1V0G544=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/teFpl4k3Mcc_Rt_pMj2ymi_Nyuk=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/tZj0tFTorcD9Wy0wBWN25ZyUMwo=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ueK3Z_jx91QIhvO0ct5ibYx3aEI=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/UF+WZFwD+YOC9EaBQQmAufi2Lfw=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/uGGSH7mjQBctLVTlxEIvYseOQH4=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/utX8UKW50fbn+oXvucymvg5t18E=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/v9mVZyrpLnUJYhQHPkkqjqkbfHE=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/vBMgibhLRw5qGF7BH8TtzF1_iIY=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/VOJe6WF2jX3JHa0xtqpgi_NcBIk=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/VrF9vhTzQh2EFhmhAVIFxWs4Q6Y=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/w0XVClb3BCfT9oThdGU8wP5ECT0=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/wDD1K0CU6sJSdhTJXSrOI2S9czA=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/wn+RTSqcBfjvIYnQ6NMXbBfe0qw=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/XQIGGiyyh8cvm722lHESNjhvqx8=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xTYoBfLwTJlwUl1_IRVe+Qp0GGI=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/y14COvzK+m+HbLHPNZZr_vSq79U=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/yZ2xEpHBlXplcqCkSGa195+xyQ0=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/z+jMKt6hibW4Rwiz_LuDWhk3hcI=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/z45OXSPCS13tfR5daF4fW91CgMs=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Z4_wllJGXVs4vIMxCYRcU0SSmb4=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ZkwM6LfhJL53JFZlzZU3XySc4bs=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/zrf_akWD7Zl6oIvWNG_m5NJBy0w=
EDoctorsApp/Edoctors_doctors/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/zsSblYv8h2FmhRD8ovVepQn5EKc=
*.flat
*.so
*.mp3
*.wav
*.txt
EDoctorsApp/Edoctors_doctors/app/build/intermediates/javac/debug/classes/com/incubationlab/edoctors_doctors/Splash/SplashActivity$1.class
EDoctorsApp/Edoctors_doctors/app/build/intermediates/javac/debug/classes/com/incubationlab/edoctors_doctors/Splash/SplashActivity$2.class
EDoctorsApp/Edoctors_doctors/app/build/intermediates
EDoctorsApp/Edoctors_doctors/app/build/generated

*.apk
EDoctorsApp/EDoctors/app/src/main/java/com/incubation_lab/edoctors/Repository/Remote/RetroInstance.java
